<!-- Cloudflare Web Analytics -->
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "be32763aa2274a37ba71e088ace8930c"}'
></script>
<!-- End Cloudflare Web Analytics -->
