<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
<link rel="dns-prefetch" href="https://fonts.gstatic.com/" />
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net/" />
<link rel="preconnect" href="https://arc.io/" crossorigin />
<link rel="dns-prefetch" href="https://arc.io/" />
<link rel="preconnect" href="https://static.arc.io/" crossorigin />
<link rel="dns-prefetch" href="https://static.arc.io/" />
<link rel="preconnect" href="https://cdn.bmyjacks.io/" crossorigin />
<link rel="dns-prefetch" href="https://cdn.bmyjacks.io/" />
<script async src="https://arc.io/widget.min.js#LNHBxow4"></script>
